.ql-heading{
text-align: center;
margin-top: 40px;
margin-bottom: 40px;
}

.loader{
 /* display: flex;
align-items: center; justify-content: center;  */
padding-left: auto;
padding-right: auto;
opacity: 1;
height: 100%;
}
.loading-text{
font-size: 1.2rem;
text-align: left;
/* margin-left: -25px;
margin-top: 25px; */
margin-left: 0.6vw;
margin-top: 15vh;
font-weight: 800;
color: #440a67;
font-family: 'Roboto';

}
.prob-input-head{
margin-top: 20px;
font-family: 'Roboto';

}

.prob-stmnt{
font-size: 1.1rem;
margin-top: 40px;
padding-left: 40px;
padding-right: 40px;
font-family: 'Roboto';
}
.prob-input{
font-size: 1.1rem;

      margin-top: 20px;
      padding-left: 40px;
      padding-right: 40px;
      font-family: 'Roboto';


}

.prob-time{
margin-top:60px;
}
.prob-container{
margin-left: auto;
margin-right: auto;
padding-left: 100px;
padding-right: 100px;
}
.prob-name{
margin-top: 20px;
text-decoration: underline;
font-family: 'Roboto';

}
.prob-btn{
background-color: #E7E1FB!important;
border-color: #E7E1FB!important;
margin-top: 20px;
margin-bottom: 20px;
color: #440a67!important;
font-size: 1.2rem;
}
