.admin-login {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.email-input {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.pass-input {
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.admin-btn {
  margin-top: 20px;
  background-color: #52057b;
  border-color: #52057b;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.admin-btn:hover {
  background-color: #52057b;
  border-color: #52057b;
}
.admin-logout-btn {
  background-color: #52057b;
  border-color: #52057b;
  width: 100px;
  margin-top: 20px;
  margin-right: 10vw;
  margin-left: 80vw;
  text-align: right;
  float: right;
}
.admin-logout-btn:hover {
  background-color: #52057b;
  border-color: #52057b;
}
.login-page-btn {
  margin-top: 50vh;
  width: 140px;
  margin-right: 10vw;
  margin-left: 80vw;
  text-align: right;
}
.label-form {
  font-size: 1.2rem;
  margin-left: 50px;
  margin-bottom: 40px;
}
.adminpage-input {
  width: 500px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.heading-prob {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.admin-container {
  margin-left: auto;
  margin-right: auto;
}
