.admin-login{
text-align: center;
margin-left: auto;
margin-right: auto;
}
.email-input{
margin-top: 20px;
margin-left: auto;
margin-right: auto;
width:400px;
}
.pass-input{
      margin-top: 20px;

      margin-left: auto;
      margin-right: auto;
width:400px;
}
.admin-btn{
      margin-top: 20px;

      margin-left: auto;
      margin-right: auto;
      width:100px;

}
.logout-btn{
      margin-top: 50vh;
      width:100px;
      margin-right: 10vw;
      margin-left: 80vw;
      text-align: right;

}
.login-page-btn{
      margin-top: 50vh;
      width:140px;
      margin-right: 10vw;
      margin-left: 80vw;
      text-align: right;

}
.label-form{
font-size: 1.2rem;
margin-left: 50px;
margin-bottom: 40px;
}
.adminpage-input{
width:500px;
margin-left: 50px;
margin-bottom: 40px;

}
